Source: gndaccess
Section: misc
Priority: extra
Maintainer: Jakob Voß <jakob.voss@gbv.de>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.2
 
Package: gndaccess
Architecture: any
Depends: perl-base (>= 5.14.1), 
    starman, 
    librdf-trine-perl
Description: Access GND records via HTTP
